<div class="jumbotron">
    <!--<ui-accordions>-->
        <!--<ui-accordion title="Accordion 1">-->
            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
        <!--</ui-accordion>-->

        <!--<ui-accordion title="Accordion 2">-->
            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
        <!--</ui-accordion>-->

        <!--<ui-accordion title="Accordion 3">-->
            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
        <!--</ui-accordion>-->

        <!--<ui-accordion title="Accordion 4">-->
            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
        <!--</ui-accordion>-->

        <!--<ui-accordion title="Accordion 5">-->
            <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
        <!--</ui-accordion>-->
    <!--</ui-accordions>-->

    <hr/>

    <input class="form-control" type="text" ng-model="criterioDeBusca" placeholder="O que você está buscando?"/>
    <table ng-show="contacts.length > 0" class="table table-striped">
        <tr>
            <th></th>
            <th><a href="" ng-click="ordenarPor('name')">Nome</a></th>
            <th><a href="" ng-click="ordenarPor('number')">Telefone</a></th>
            <th>Operadora</th>
            <th>Data</th>
        </tr>
        <tr ng-class="{'selecionado negrito': contact.selected}" ng-repeat="contact in contacts | filter:criterioDeBusca | orderBy:criterioDeOrdenacao:direcaoDaOrdenacao">
            <td><input type="checkbox" ng-model="contact.selected"/></td>
            <td><a href="#/contact/{{contact.id}}">{{contact.name | name | ellipsis:10}}</a></td>
            <td>{{contact.number}}</td>
            <td>{{contact.carrier.name}}</td>
            <td>{{contact.data | date:'dd/MM/yyyy'}}</td>
        </tr>
    </table>

    <hr/>

    <a class="btn btn-primary btn-block" href="#/newContact">Novo Contato</a>

</div>
